* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 7px;
}


::-webkit-scrollbar-track {
  background: #1d1d1d;
}


::-webkit-scrollbar-thumb {

  background: #1d9bf0;
  border-radius: 1rem;
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 0, 0, 0.521);
} 
